/* Contact Sheet CSS */
/* HTML Elements */

html {
	position: relative
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	background-color: #efefef;
	background: #efefef url("../images/sakura.png")
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #4aaaa5
}

/* Header */
header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff
}

header .container { 
	width: 1000px;
	margin: 0 auto 
}

/* Overall Layout */

.nav {
	width: 37%;
	text-align: right;
	color: #ffffff;
	font-weight: normal;
	margin-left: 849px;
	background-color: #4aaaa5
}

.nav ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em
}

.logo {
	display: inline-block;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 1em;
}

.page-title {
	font-weight:bold;
	font-size: 1.5em;
	letter-spacing: 0.04em;
	margin-bottom: 1em;
}

/* Main Content */

.content {
	width:1000px;
    margin: auto;
}

.main {
	width: 930px;
	margin-top: 25px;
	padding: 40px;
	background-color: #ffffff;
	border: 1px solid #dddddd
}

input [type=textn], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em;
    text-align: center;
    font-size: 0.8em;
    color: #cccccc;
    background-color: #666666;
    border-top: 7px solid #4aaaa5
}