/* Portfolio CSS */
/* HTML Elements */

html {
	position: relative
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	background-color: #efefef;
	background: #efefef url("../images/sakura.png")
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #4aaaa5
}

/* Header */

header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff
}

header .container { 
	width: 1000px;
	margin: 0 auto 
}

/* Overall Layout */

.nav {
	width: 37%;
	text-align: right;
	color: #ffffff;
	font-weight: normal;
	margin-left: 849px;
	background-color: #4aaaa5
}

.nav ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em
}

.logo {
	display: inline-block;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 1em;
}

.page-title {
	font-weight:bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	margin-bottom: 1em;
	margin-left: .9em;
	border-bottom: 1px solid lightgrey
}

.main-image {
	float: left;
	padding: 0 1em 1em 0;
	width: 160px;
	height: 240px
}

/* Portfolio CSS */
.portfolio-item {
    display: inline-block;
    position: relative;
}

.item-name {
    position: relative;
    top: -130px;
    text-align: center;
    background-color: #4aaaa5;
    padding: 0.5em;
    color: #ffffff;
    font-size:25px;
	width: 270px;
	margin-left: auto
}

.content {
	width: 930px;
	height: 1220px;
	background-color: white;
	margin-top: 5em;
	margin-left: 16em
}

img {
	height: 270px;
	width: 270px;
	margin-left: 2em
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em;
    text-align: center;
    font-size: 0.8em;
    color: #cccccc;
    background-color: #666666;
    border-top: 7px solid #4aaaa5
}